@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font", Helvetica, Arial,
    sans-serif;
  font-size: 1.2rem;
  min-height: 0;
}

window#waybar {
  background: @transparent;
  color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @on_surface;
}

#workspaces button {
  padding: 0 10px;
  margin: 10px 3px;
  border-radius: 100px;
  background: @secondary;
  color: @on_secondary;
  transition: all 0.3s ease;
}

#workspaces button.active {
  padding: 0 20px;
  background: @primary;
  color: @on_primary;
}

#workspaces button:hover {
  background: @primary;
  color: @on_primary;
}

#workspaces button.urgent {
  background: @error;
}

#workspaces button.empty {
  opacity: 0.3;
}

#clock,
#battery,
#pulseaudio,
#network {
  padding: 5px 15px;
  margin: 7px;
  border-radius: 100px;
  background-color: @primary;
  color: @on_primary;
}
